/*index*/
/*slideshow*/
.slideshow{
    width: 100%;
    height: 40rem; 
    position: relative;
   
}
.slides {
    display: none; 
}
.slides img{
    border-radius: 0; 
    width: 100%;
    max-width: 100%;
    height: 40rem; 
}

/* arrows */
.prev, .next {
    cursor: pointer; 
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
}

.next{
    right: 0; 
    border-radius: 3px 0 0 3px; 

}

.prev:hover, .next:hover {
    background-color: hsla(0, 0%, 0%, .7 );
}

/*fade animation*/

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s; 
}

@-webkit-keyframes fade{
    from{opacity: .5}
    to {opacity:1}
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

/*services section */

#services{
    padding: 2rem 4rem; 
    width: 100%; 
    text-align: center; 
}
#services h2{
    margin: 4rem 0; 
}
.service{
    margin: 1rem 0;
}
.service::after {
    content: "";
    clear: both;
    display: table; 
}
.service-content{
    float: left; 
    height: 25rem;
    width: 33%; 
    text-align: left;
    border-radius: 4px; 
    background: linear-gradient(to bottom right, hsl(202, 50%, 50%), hsl(202, 50%, 70%) );
}
.service-content h3{
    font-size: 1.5rem; 
    padding: 4rem 2rem 3rem 2rem; 
    color: hsl(0, 0%, 20%);
}
.service-content p{
    padding: 1rem 2rem; 
    line-height: 2rem;
    color: hsl(0, 0%, 95%); 
    vertical-align: middle;
}
.service-imgs {
    width: 66%; 
    float: left; 
}
.service-imgs img{
    height: 25rem;
    width: 49%; 
}