* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    font-size: 16px; 
}

body{
    margin-left: auto; 
    margin-right: auto; 
    font-family: 'Montserrat', sans-serif; 
    text-align: justify;
}

/*template*/
/*Header*/
header{
    font-size: 1.1rem; 
    background-color: white;
    z-index: 10;
}

/* top row*/
.top-row-wrapper{
    display: flex; 
    justify-content: center; 
    white-space: nowrap;
}
#serving {
    font-family: 'Times New Roman', serif; 
    padding: 4rem 0; 
    font-style: italic; 
    font-size: 1.5rem;    
    text-align: center; 
    color: hsl(0, 0%, 40%);
    width: 30%;

}
#logo{
    width: 20rem; 
    height: auto; 
    margin: 0 5rem; 
    box-shadow: 1px; 

}
#start{
    width: 30%; 
    padding: 4rem 0; 
    font-size: 1.3rem; 
    text-align: center; 
    color: hsl(0, 0%, 40%);
  
}
#start a{
    text-decoration: none;
    padding: .5rem; 
    color:hsl(0, 0%, 20%);
    border: 2px solid hsl(0, 0%, 20%);
    margin-top: .5rem; 
    border-radius: 5px; 
}
#start a:hover {
    background-color: hsl(202, 50%, 70%);
    color: white; 
    border: none; 
}
#menu-icon {
    display: none; 
    cursor: pointer;
    height: 2rem; 
    margin: auto 4rem; 

}
/*nav bar*/
header nav{
    z-index: 5;  
    width: 100%;  
    background-color: hsl(207, 66%, 49%);

}
header nav ul{
    text-align:center;  

}
header nav ul li{
    display: inline-block; 
    margin: 1rem auto; 
    list-style: none; 
    padding: 0 1rem;  
    position: relative; 
}
header ul li a{
    font-weight: 500; 
    color: white; 
    display: block; 
 
}

.dropdown {
    display: none; 
    position: absolute; 
    background-color: hsl(207, 66%, 49%);
    z-index: 3;  
}
.dropdown li{
     width: 11rem; 
     padding: 1rem 1rem; 
    
}
.dropdown li:hover{
    background-color: hsl(207, 66%, 60%);
   
}
header ul li:hover .dropdown{
    display: block; 
}

.dropdown-button span{
    font-size: .6rem; 
}

/* main content*/
main{
    background-color: hsl(0, 0%, 95%);
    color:hsl(0, 0%, 20%); 

}
 h1, h2, h3{
    line-height: 2rem;
    letter-spacing: .2rem;
}
h2 {
    color: hsl(207, 66%, 49%);
    font-size: 3rem; 
    padding-bottom: 1rem; 
    font-weight: 1000;
    padding: .5rem 0; 
}
p {
    word-spacing: .1rem;
    line-height: 1.5rem;
    color:hsl(0, 0%, 40%);
}
a{
    text-decoration: none; 
}
img {
    border-radius: 5px; 
    max-width: 95%; 
}
.first-section-wrapper{
    background-image: url("../background_image_copy.png");
    background-blend-mode: lighten;
    background-image: cover;
    padding: 4rem; 
    border-top: 6px groove hsla(207, 66%, 50%, .6);
    border-bottom: 6px groove hsla(207, 66%, 50%, .6);
   
}
.first-section{
   width: 60%; 
   margin: 0 auto; 
   padding: 2rem 3rem; 
   min-height: 20rem; 
   border: 6px outset hsl(207, 66%, 49%);
   border-radius: 4px; 
}
.first-section p{
    font-size: 1.1rem;
    color:hsl(0, 0%, 20%);
    text-align:left;
    padding-top: 2rem; 

}
.first-section, .page-title{
    position: relative; 
    animation-name: slide; 
    animation-duration: 2s; 
    
}
.page-title{
     text-align:center;
     padding: 3rem 0; 
}
@keyframes slide {
    from {left: 3rem; opacity:.3;}
    to {left: 0; opacity: 1}
}
/* footer */
footer {
    clear: both; 
    width: 100%;
    height: 10rem; 
    background-color: hsl(0, 0%, 60%);
    border-top: 2px solid black;
    text-align: center; 
}
footer a{
    display:block; 
    text-decoration: none; 
    color: white;
    font-size: 2rem; 
    font-weight: 600; 
    text-align: center; 
    padding: .5rem;
    border: 2px solid white; 
    height: 4rem; 
    width: 4rem; 
    margin: 2rem auto; 
}
footer p{
    color: white; 
}

/*index*/
/*slideshow*/
.slideshow{
    width: 100%;
    height: 40rem; 
    position: relative;
   
}
.slides {
    display: none; 
}
.slides img{
    border-radius: 0; 
    width: 100%;
    height: 40rem; 
}

/* arrows */
.prev, .next {
    cursor: pointer; 
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
}

.next{
    right: 0; 
    border-radius: 3px 0 0 3px; 

}

.prev:hover, .next:hover {
    background-color: hsla(0, 0%, 0%, .7 );
}

/*fade animation*/

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s; 
}

@-webkit-keyframes fade{
    from{opacity: .5}
    to {opacity:1}
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

/*services section */

#services{
    padding: 2rem 4rem; 
    width: 100%; 
    text-align: center; 
}
#services h2{
    margin: 4rem 0; 
}
.service{
    margin: 1rem 0;
}
.service::after {
    content: "";
    clear: both;
    display: table; 
}
.service-content{
    float: left; 
    height: 25rem;
    width: 33%; 
    text-align: left;
    border-radius: 4px; 
    background: linear-gradient(to bottom right, hsl(202, 50%, 50%), hsl(202, 50%, 70%) );
}
.service-content h3{
    font-size: 1.5rem; 
    padding: 4rem 2rem 2rem 2rem; 
    color: hsl(0, 0%, 20%);
}
.service-content p{
    padding: 1rem 2rem; 
    line-height: 2rem;
    color: hsl(0, 0%, 95%); 
    vertical-align: middle;
}
.service-imgs {
    width: 66%; 
    float: left; 
}
.service-imgs img{
    height: 25rem;
    width: 49%; 
}
/*about page */
#about {
    margin: 0 10rem; 
    position: relative; 
}
#about::after {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(hsl(207, 60%, 34%), hsl(202, 82%, 69%) );
    position: absolute;
    left: -20px;
    top: 5px; 

}
#about h3 {
    margin-bottom: 2rem; 
    padding-top: .5rem; 
    text-decoration: none;
    color:hsl(0, 0%, 20%);
}

/* contact page */
#contact-message {
    margin: 20rem 10rem;
    text-align: center;
    font-size: 2rem; 
    float: left; 
    width: 30%;
}
#contact-message p {
    color: hsl(202, 60%, 50%);
    line-height: 2rem; 

}
#form-container {
    float: right;
}
form {
   margin: 3rem 8rem 3rem 0; 
   padding: 3rem 5rem;
   background-color: white;
   border-radius: 4px; 
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
   text-align: left; 
   
}
.form-control {
    margin: 1.3rem 0; 
}
.form-control.name {
    margin-top: 0; 
}
.form-control.city {
   float: left; 
   margin: 0 1.5rem 1.3rem 0; 

}
.form-control.state {
    float: left; 
    margin: 0 0 1.3rem 0; 
}

.form-control.zip {
    clear: both; 
    float: left; 
    margin: 0 1.5rem 1.3rem 0; 
    
}
.form-control.phone {
    float: left; 
    margin: 0 0 1.3rem 0; 
}
.form-control.email{
    clear: both; 
}
input, textarea, select{
    display: block; 
    width: 100%; 
    height: 2rem; 
    font: inherit;
    border: 2px solid hsl(0, 0%, 60%); 

}
select {
    height: 2.2rem; 
    width: 13rem; 
}
textarea {
    height: 4rem; 
    resize: none; 
}
form p{         
    visibility: hidden;
    color:red;
    font-size: .8rem; 
}
.form-control.success input, .form-control.success textarea{
    border-color: #2ecc71;
}
.form-control.error input, .form-control.error textarea{
    border-color: #e74c3c; 
}
.form-control.error p {
    visibility: visible; 
}
.form-control .phpErr{
    float: right; 
    color: red; 
    font-size: .8rem; 
}
#submit {
    background-color: hsl(202, 60%, 60%);
    font: inherit; 
    font-size: 1.3rem;
    border-radius: 4px; 
} 
#submit:hover {
    background-color: hsl(202, 60%, 70%);
}

/*Materials*/
.content-wrapper{
    padding: 5rem 10rem; 
}
.more{
    font-size: 1.3rem;
    text-align:center;
    width: 70%;
    margin: 3rem auto 0 auto; 
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.more a {
    padding: .5rem;
    font-size: 1.2rem;
    background: none;
    font-weight: 550; 
    border: 2px solid hsl(207, 66%, 40%);
    color: hsl(207, 66%, 40%);
    border-radius: 10px;
    transition: all .5s; 
    
}
.more a:hover {
    background-color: hsl(202, 50%, 70%);
    border: black; 
    color: white; 
}
.more p {
    margin: 1rem; 
}
.content-wrapper h3 {
    text-decoration: underline; 
    font-size: 2rem; 
    text-align: left;
    color:hsl(0, 0%, 30%);
}
.img-wrapper {
    text-align: center; 
    width: 100%; 

}
.img-wrapper img {
    height: 25rem;
    width: auto; 
    max-width: 90%; 
    margin: 1rem; 
}
.link-wrapper {
    text-align: center; 
}
.link-wrapper a img{
    background-color: white; 
    padding: 2rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    height: 10rem;
    width: 10rem; 
}
.supplier {
    display: inline-block;
    margin: 3rem 4rem; 
    vertical-align:middle; 
}
.supplier p{
    width: 12rem; 
    height: 5rem;
    margin: 0; 

}
#recomendation {
    margin: 0 10rem; 
}
#coping{
    margin: 3rem 0; 
}
#resource {
    margin: 3rem 0; 
}

/* gallery */
.gallery-content {
    padding: 5rem; 
}
.gallery-section {
    color: hsl(207, 66%, 49%);
    text-align: center; 
    font-size: 2rem; 
    padding: 1rem 0; 
    position: relative; 
    animation-name: slide; 
    animation-duration: 2s; 
}
.gallery-imgs {
    text-align: center; 
}
.gallery-imgs img{
    height: 15rem;
    width: auto; 
    margin: .5rem; 
    vertical-align: middle; 
}


/* Media Querries */
@media only screen and (max-width: 1200px){
    #serving {
        display: none; 
    }
    #start {
        display: none;
    }
    .first-section{
        width: 85%; 
    }
    #services {
        padding: 2rem 2rem; 
    }
    #contact-message{
        float: none; 
        margin: 5rem auto; 
        width: 50%; 
    }
    #form-container {
        float: none; 
    }
    form {
        width: 90%; 
        margin: 5rem auto; 
    }

}
@media only screen and (max-width: 992px){
    .slideshow {
        height: 25rem; 
    }
    .slideshow img {
        height: 25rem; 
    }
    .first-section-wrapper{
        padding: 2rem; 
    }
    .first-section{
        width: 90%; 
    }
    .first-section p{
        padding: 2rem 0; 
    }
    .top-row-wrapper {
        justify-content: space-between;
    }
    #menu-icon {
        display: block; 
    }
    #logo {
        margin: 0 2rem; 
        height: 6rem;
        width: auto; 
    }
    #navbar {
        display: none; 
        border-radius: 2px; 
        transition: all 1s; 
        width: 100%; 
        position: absolute; 
        z-index: 10;
        font-size: 12px; 
        background: linear-gradient(to bottom right, hsl(205, 55%, 50%), hsl(202, 50%, 70%) );
    }
    #mainlist {
        text-align: start;
    }
    header nav ul li {
        margin: 0 3rem; 
        padding: .5rem 0; 
        text-align: start;
        position: static; 
        display: block; 
        width: 100%; 
    }
    header nav ul li:hover {
        background-color: hsl(207, 66%, 60%);
    }
    .dropdown-button:hover {
        background-color: inherit;
    }
    .dropdown {
        background: inherit; 
        display: block; 
        position: static; 
    }
    .dropdown li {
        padding: .5rem 0; 
        margin-left: 4rem; 
        width: 100%; 
    }
    .service-content {
        text-align: center;
        width: 100%; 
        height: 15rem; 
    }
    .service-content h3 {
        padding-bottom: 1rem; 
    }
    .service-imgs {
        height: 15rem; 
        width: 100%; 
    }
    .service-imgs img {
        height: 15rem; 
    }
    #about {
        margin: 0 5rem; 
    }   
    .content-wrapper{
        padding: 5rem 5rem; 
    }
    .gallery-content{
        padding: 5rem 2rem;
    }
}
@media only screen and (max-width: 768px){
    .first-section{
        width: 95%; 
    }
    .first-section h2 {
        font-size: 2rem; 
    }
    .service-content h3 {
        padding-bottom: 0; 
        padding-top: 2rem; 
    }
    #about {
        margin: 0 1rem; 
    }   
    .gallery-content {
        padding: 5rem 1rem; 
    }
    .content-wrapper {
        padding:  5rem 2rem; 
    }
    .img-wrapper img {
        height: 20rem; 
    }
    .more {
        width: 80%; 
    }
}
@media only screen and (max-width: 550px){
    .slideshow {
        height: 20rem; 
    }
    .slideshow img {
        height: 20rem; 
    }
    .content-wrapper {
        padding: 5rem 1rem; 
    }
    .img-wrapper img {
        height: 15rem; 
    }
    .more {
        width: 90%; 
        font-size: 1.2rem; 
    }
    .more a {
        font-size: 1rem; 
    }
}