* {
    margin: 0; 
    padding: 0; 
}
html{
    font-size: 16px; 
}
body{
    margin-left: auto; 
    margin-right: auto; 
    font-family: 'Montserrat', sans-serif; 

}
header{
    font-size: 1.2rem; 
    height: 10rem; 
    padding: 1rem 1rem; 
    width: 100%; 
}
#logo{
    width: 20rem; 
    height: auto; 
    padding: 0rem 2rem; 
    float: left; 
}
header nav{
    margin-top: 8rem; 
}

header nav ul {
    float: left;  
}
header nav ul li{
    float: left; 
    list-style: none; 
    padding: 1rem 1rem;  
    position: relative; 
}
header ul li a{
    text-decoration: none; 
    color:hsl(0, 0%, 30%); 
    display: block; 
}
#dropdown {
    display: none; 
    position: absolute; 
    border-radius: 0rem .0rem .5rem .5rem; 
}
#dropdown li{
     width: 7.5rem; 
     
}
#dropdown li:hover{
    background-color: hsl(0, 0%, 90%); 
   
}
header ul li:hover #dropdown{
    display: block; 
}